<div class="container-fluid">
    <div class="row" style="margin-top:80px">
        <div class="col-md-2">
            <div class="list-group" id="myList" role="tablist">
                <a class="list-group-item list-group-item-action active" data-toggle="list" href="#home" role="tab">Database</a>
                <a class="list-group-item list-group-item-action" data-toggle="list" href="#profile" role="tab">Profile</a>
                <a class="list-group-item list-group-item-action" data-toggle="list" href="#messages" role="tab">Messages</a>
                <a class="list-group-item list-group-item-action" data-toggle="list" href="#settings" role="tab">Settings</a>
            </div>

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="home" role="tabpanel">...</div>
                <div class="tab-pane" id="profile" role="tabpanel">...</div>
                <div class="tab-pane" id="messages" role="tabpanel">...</div>
                <div class="tab-pane" id="settings" role="tabpanel">...</div>
            </div>
        </div>
        <div class="col-md-8">
            <h2>Database</h2>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>
